.App {
  font-family: 'Lexend', sans-serif;
  text-align: center;
  color: #000;
  animation: fadeIn 0.5s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.wrapper {
  max-width: 90%;
  margin: 0 auto;
}

header {
  padding: 40px;
}

header h1 {
  font-size: 75px;
  margin: 0;
  padding: 10px 0px;
  color: #ff1616;
  text-shadow: 5px 5px 2px #000;
  text-transform: uppercase;
}

header h2 {
  font-size: 30px;
  margin: 0;
  padding: 10px 0px;
}

main {
  background-color: #ffde59;
  border: solid #ff1616 5px;
  box-shadow: 10px 10px 5px #000;
  border-radius: 40px;
  display: flex;
  width: 90%;
  max-width: 1400px;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
}

.startScreen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 50px 0px;
  width: 400px;
}

.startScreen label,
.startScreen input,
.startScreen button {
  margin: 10px auto;
}

.startScreen label {
  font-size: 18px;
}

.startScreen input {
  background-color: #fff;
  width: 90%;
  padding: 10px;
  font-size: 15px;
  border: solid #000 2px;
  border-radius: 10px;
}

.startScreen button {
  width: 60%;
}

.game {
  position: relative;
  display: flex;
  width: 100%;
  justify-content: center;
  animation: fadeIn 0.5s;
}

.gameText {
  position: absolute;
  top: 75px;
  left: 50%;
  transform: translateX(-50%);
  width: 25%;
}

.gameArea {
  align-self: flex-end;
  height: 80%;
  width: 25%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 0 40px;
  padding-bottom: 75px;
}

.gameArea p {
  margin: 10px 0px;
}

.gameArea button {
  margin: 10px 0px;
}

.gameArea form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.gameText h4 {
  font-size: 48px;
  color: #ff1616;
  text-shadow: 3px 3px 2px #000;
  margin: 0 auto;
}

.gameArea form label,
.gameArea form select,
.gameArea form button {
  margin: 10px 0;
}

.gameArea form select {
  background-color: #fff;
  width: 100%;
  padding: 5px 10px;
  font-size: 15px;
  border: solid #000 2px;
  border-radius: 10px;
}

.gameArea form select:hover {
  cursor: pointer;
}

.pot {
  color: #fff;
  background-color: #000;
  width: 95%;
  margin: 0 auto;
  padding: 10px;
  border: solid #ff1616 3px;
  border-radius: 10px;
}

.gameOver {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 30px 0px;
  width: 500px;
}

.gameOver h3 {
  font-size: 30px;
  margin: 15px;
}

.gameOver h4 {
  font-size: 25px;
  margin: 15px;
}

.gameOver ol {
  background-color: #fff;
  border: solid #000 3px;
  box-shadow: 6px 6px 3px #ff1616;
  border-radius: 10px;
  padding: 20px 0px;
  margin: 20px 0px;
  padding-left: 60px;
}

.gameOver ol li {
  text-align: left;
  font-size: 25px;
}

.gameOver button {
  margin: 20px 0px;
}

.button {
  border-radius: 10px;
  padding: 10px;
  font-size: 20px;
  background-color: #fff;
  border: solid #000 2px;
  transition: box-shadow 0.2s;
}

.button:hover {
  cursor: pointer;
  box-shadow: 2px 2px 1px #ff1616;
}

.phrase {
  color: #000;
  background-color: #fff;
  border: solid #ff1616 4px;
  box-shadow: 6px 6px 3px #000 ;
  padding: 4px;
  margin-top: 75px;
}

.gameArea form button {
  width: 70%;
}

.playerHand,
.computerHand {
  width: 25%;
  animation: fadeIn 0.5s;
}

.playerCard,
.computerCard {
  align-self: center;
  width: 100%;
  position: relative;
  color: #fff;
  animation: fadeIn 0.5s;
  box-shadow: 7px 7px 3px #000;
  overflow: hidden;
  z-index: 0;
}

.playerCard img,
.computerCard img {
  width: 100%;
  height: 100%;
  transform: scale(1.1);
  aspect-ratio: 3/4.5;
  object-fit: cover;
}

.cardTitle {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  margin: 0px 0px;
  width: 105%;
  z-index: 3;
}

.cardTitle p {
  margin: 0;
  padding: 10px;
}

.cardTitle p a {
  color: #fff;
}

.cardStats {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 105%;
  animation: fadeIn 0.5s;
  z-index: 3;
}

.cardStats ul {
  margin: 0;
  padding: 25px;
  list-style: none;
  text-align: left;
}

.cardStats ul li {
  padding-bottom: 2px;
}

footer {
  padding: 25px 0px;
}

footer p a {
  color: #000;
}
footer p a:hover {
  color: #ff1616;
}

@media screen and (max-width: 1600px){
  .phrase {
      display: none;
    }
}

@media screen and (max-width: 1200px){
  .game {
    position: relative;
    flex-flow: row wrap;
    gap: 5%;
    width: 100%;
    z-index: 10;
  }
  .playerHand {
    order: 1;
    width: 90%;
    display: flex;
    flex-flow: row wrap;
  }
  .playerHand h3, .computerHand h3 {
    width: 100%;
  }
  .playerHand h3 {
    text-align: left;
  }
  .computerHand h3 {
    text-align: right;
  }
  .playerCard {
    order: 2;
  }
  .playerHand .deck {
    order: 3;
    align-self: center;
  }
  .computerHand .deck {
    order: 3;
    align-self: center;
  }
  .computerCard {
    order: 4;
  }
  .gameText {
    position: initial;
    order: 2;
    width: 100%;
    transform: translateX(0%);
    padding-top: 10px;
    margin: 30px 0px 10px 0px;
  }
  .computerHand {
    order: 3;
    width: 90%;
    display: flex;
    flex-flow: row wrap;
  }
  .playerCard, .computerCard {
    width: 60%;
  }
  .deck {
    width: 40%;
    font-size: 25px;
  }
  .gameArea {
    order: 4;
    width: 100%;
    padding: 40px;
  }
  .playerCard img,
  .computerCard img {
    width: 40%;
  }

  .playerCard img {
    float: left;
  }

  .computerCard img {
    float: right;
  }

  .cardTitle,
  .cardStats {
    transform: translateX(0);
    width: 60%;
  }

  .cardTitle {
    height: 100%;
  }

  .cardTitle p {
    height: 100%;
    width: auto;
    margin: 0 auto;
  }

  .cardTitle p,
  .cardStats ul {
    opacity: 1 !important;
    padding: 15px !important;
  }

  .cardTitle p {
    font-size: 18px;
  }

  .cardStats ul {
    font-size: 16px;
  }

  .playerHand .cardTitle p, .playerHand .cardStats ul {
    text-align: left;
  }

  .computerHand .cardTitle p, .computerHand .cardStats ul {
    text-align: right;
  }

  .cardStats ul {
    background-color: initial !important;
  }

  .playerCard .cardTitle,
  .playerCard .cardStats {
    left: 40%;
  }

  .computerCard .cardTitle,
  .computerCard .cardStats {
    left: 0%;
  }

  .gameArea {
    width: 75%;
  }
}

@media screen and (max-width: 768px) {
  body {
    font-size: 3.5vw;
  }
  main {
    min-height: 300px;
    height: 100%;
    padding: 15px 0px;
  }
  header {
    padding: 20px;
  }
  header h1 {
    font-size: 11vw;
  }
  header h2 {
    font-size: 5vw;
  }
  .button {
    font-size: 3.5vw;
  }
  .startScreen input {
    width: 60%;
  }
  .startScreen button {
    width: 40%;
  }
  .game {
    flex-direction: column;
  }
  .gameText {
    width: 100%;
    order: 2;
    padding: 0;
    margin-top: 20px !important;
  }
  .computerHand{
    order: 3;
  }
  .gameArea {
    flex-flow: row wrap;
    margin: 0 auto;
    padding: 20px;
  }
  .gameArea .pot {
    order: -1;
  }
  .gameText h4 {
    font-size: 12vw;
    padding: 0;
    margin: 10px 10px 0px 10px;
  }
  .gameArea p {
    width: 100%;
    margin: 3px auto;
  }
  .gameArea button {
    width: 100%;
    margin: 10px auto;
  }
  .gameArea form {
    flex-flow: row wrap;
    justify-content: space-between;
    gap: 2%;
  }
  .gameArea form label {
    font-size: 3.5vw;
    width: 100%;
  }
  .gameArea form select {
    width: 60%;
    font-size: 3.5vw;
    padding: 10px;
  }
  .gameArea form button {
    width: 38%;
  }
  .gameArea, .playerHand, .computerHand {
    width: 80%;
    margin: 0 auto;
  }
  .playerHand, .computerHand {
    display: flex;
    flex-flow: row wrap;
  }
  .playerHand .deck, .computerHand .deck {
    order: 2;
  }
  .playerCard {
    order: 3;
  }
  .playerHand h3, .computerHand h3{
    order: 1;
    width: 70%;
    text-align: left;
    font-size: 3vw;
    margin: 10px 0px;
  }
  .playerHand p, .computerHand p {
    order: 2;
    text-align: center;
    font-size: 3vw;
    margin: 0;
  }
  .playerHand div.playerCard, .computerHand div.computerCard {
    order: 3;
  }
  .playerCard,
  .computerCard {
    width: 100%;
  }
  .cardTitle p {
    font-size: 3.2vw;
  }
  .cardStats ul {
    font-size: 2.8vw;
  }
  .deck {
    margin: 10px 0px !important;
    width: 30% !important;
    text-align: right !important;
  }
  .gameOver {
    width: 80%;
    margin: 0 auto;
    padding: 0;
  }
  .gameOver h3 {
    font-size: 7vw;
  }
  .gameOver h4 {
    font-size: 6vw;
  }
  .gameOver p {
    font-size: 4vw;
  }
}