.App {
  font-family: 'Lexend', sans-serif;
  text-align: center;
  color: #000;
  animation: fadeIn 0.5s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

header {
  padding: 40px;
}

header h1 {
  font-size: 75px;
  margin: 0;
  padding: 10px 0px;
  color: #ff1616;
  text-shadow: 5px 5px 0px #000;
  text-transform: uppercase;
}

header h2 {
  font-size: 30px;
  margin: 0;
  padding: 10px 0px;
}

main {
  background-color: #ffde59;
  border: solid #ff1616 5px;
  box-shadow: 10px 10px #000;
  border-radius: 40px;
  display: flex;
  width: 90%;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
}

.startScreen {
  display: flex;
  flex-direction: column;
  padding: 50px 0px;
  width: 400px;
}

.startScreen label,
.startScreen input,
.startScreen button {
  margin: 10px auto;
}

.startScreen label {
  font-size: 18px;
}

.startScreen input {
  background-color: #fff;
  width: 90%;
  padding: 10px;
  font-size: 15px;
  border: solid #000 2px;
  border-radius: 10px;
  transition: box-shadow 0.5s;
}

.startScreen button {
  width: 60%;
}

.game {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  animation: fadeIn 0.5s;
}

.gameArea {
  width: 20%;
  display: flex;
  flex-direction: column;
  padding: 0 40px;
}

.gameArea form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.gameArea h4 {
  font-size: 40px;
  color: #ff1616;
  text-shadow: 3px 3px 0px #000;
  margin: 15px 0;
}

.gameArea form label,
.gameArea form select,
.gameArea form button {
  margin: 10px 0;
}

.gameArea form select {
  background-color: #fff;
  width: 100%;
  padding: 5px 10px;
  font-size: 15px;
  border: solid #000 2px;
  border-radius: 10px;
  transition: box-shadow 0.5s;
}

.gameArea form select:hover {
  cursor: pointer;
}

.pot {
  background-color: #38b6ff;
  width: 40%;
  margin: 10px auto;
  padding: 10px;
  border: solid #ff1616 2px;
  border-radius: 10px;
}

.gameOver {
  padding: 30px 0px;
  width: 500px;
}

.gameOver h3 {
  font-size: 30px;
  margin: 10px;
}

.gameOver h4 {
  font-size: 25px;
  margin: 25px;
}

.gameOver ol {
  background-color: #fff;
  border: solid #000 3px;
  box-shadow: 6px 6px #ff1616;
  border-radius: 10px;
  padding: 20px 0px;
  margin: 20px 0px;
  padding-left: 60px;
}

.gameOver ol li {
  text-align: left;
  font-size: 25px;
}

.button {
  border-radius: 10px;
  padding: 10px;
  font-size: 20px;
  background-color: #fff;
  border: solid #000 2px;
  transition: box-shadow 0.5s;
}

.button:hover {
  cursor: pointer;
}

.gameArea form button {
  width: 70%;
}

.playerHand,
.computerHand {
  width: 25%;
  animation: fadeIn 0.5s;
}

.playerCard,
.computerCard {
  width: 100%;
  height: 100%;
  position: relative;
  color: #fff;
  animation: fadeIn 0.5s;
  box-shadow: 7px 7px #000;
  overflow: hidden;
  z-index: 0;
}

.playerCard img,
.computerCard img {
  width: 100%;
  height: 100%;
  transform: scale(1.1);
  aspect-ratio: 3/4.5;
  object-fit: cover;
}

.cardTitle {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  margin: 0px 0px;
  width: 105%;
  z-index: 3;
}

.cardTitle p {
  margin: 0;
  padding: 10px;
}

.cardStats {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 105%;
  animation: fadeIn 0.5s;
  z-index: 3;
}

.cardStats ul {
  margin: 0;
  padding: 25px;
  list-style: none;
  text-align: left;
}

.cardStats ul li {
  padding-bottom: 2px;
}

footer {
  padding: 25px 0px;
}

footer p a {
  color: #000;
}
footer p a:hover {
  color: #ff1616;
}