/* ReactCSSTransition generated animation classes */
.flip-enter {
    transform: rotateY(180deg) translateX(-7px);
}
.flip-enter .cardFront {
    opacity: 0;
}
.flip-enter-active {
    transform: rotateY(180deg) translateX(-7px);
    transition: transform 1s ease-in-out;
}
.flip-enter-active .cardFront {
    opacity: 1;
    transition: opacity 2s ease-in;
}
.flip-exit {
    transform: rotateY(180deg) translateX(-7px);
}
.flip-exit-active {
    transform: rotateY(0deg) translateX(0px);
    transition: transform 1s ease-in-out;
}

/* flip out on exit animation */
@keyframes flipOut {
    0% {
        transform: rotateY(0deg) translateX(0px);
    }
    75% {
        transform: rotateY(180deg) translateX(-7px);
    }
    100% {
        transform: rotateY(180deg) translateX(-7px);
    }
}

/* inner card styles */
.innerCard {
    align-self: center;
    width: 100%;
    position: relative;
    color: #fff;
    background-color: #7e7e7e;
    z-index: 4;
    height: 100%;
    width: auto;
    aspect-ratio: 3/4.5;
    border-radius: 10px;
    transform-origin: 50% 50%;
    transform-style: preserve-3d;
    backface-visibility: hidden;
}

/* card front and back styles */
.cardFront, .cardBack {
    border: solid #000 4px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.5) 4px 4px 4px;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    height: 100%;
    color: #fff;
    justify-content: center;
    align-items: center;
    backface-visibility: hidden;
    overflow: hidden;
}

/* card back styles */
.cardBack {
    color: #000;
    background-color: #a3cef1;
    background: repeating-linear-gradient(135deg, #78848ee2 0, #78848ee2 5%, #a3cef1 0, #a3cef1 50%) 0 / 15px 15px;
    transform: rotateY(180deg);
}

/* card back logo styles */
img.cardLogo {
    max-width: 80%;
    object-fit: contain !important;
    aspect-ratio: 16/9 !important;
}

/* card image styles */
.innerCard img,
.innerCard img {
    width: 100%;
    height: 100%;
    transform: scale(1.1);
    aspect-ratio: 3/4.5;
    object-fit: cover;
}

/* card title styles */
.cardTitle {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    margin: 0px 0px;
    width: 105%;
    z-index: 3;
    border-bottom: solid #000 4px;
    white-space: nowrap;
}

.playerCard .cardTitle {
    border-left: solid #000 4px;
}

.computerCard .cardTitle {
    border-right: solid #000 4px;
}

.cardTitle p {
    margin: 0;
    padding: 10px;
    font-weight: 600;
    opacity: 0.9;
}

.cardTitle p a {
    color: inherit;
}

/* card statistics styles */
.cardStats {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 105%;
    animation: fadeIn 0.5s;
    z-index: 3;
    border-top: solid #000 4px;
}

.cardStats ul {
    margin: 0;
    padding: 25px;
    list-style: none;
    text-align: left;
    opacity: 0.9;
}

.cardStats ul li {
    padding-bottom: 2px;
}

/* medium sized screens */
@media screen and (max-width: 1200px) {

    /* inner card styles */
    .innerCard {
        width: 100%;
        height: auto;
        aspect-ratio: 5/3;
        transform-origin: 50% 50%;
        transform-style: preserve-3d;
    }

    /* player and computer card styles */
    .playerCard {
        order: 2;
    }

    .computerCard .cardBack, .computerCard .cardFront {
        order: 4;
        box-shadow: rgba(0, 0, 0, 0.5) -4px 4px 4px;
    }

    /* player and computer card styles */
    .playerCard,
    .computerCard {
        width: 60%;
    }

    /* card image styles */
    .playerCard img,
    .computerCard img {
        width: 40%;
    }

    .playerCard img {
        position: absolute;
        left: 0;
    }

    .computerCard img {
        position: absolute;
        right: 0;
    }

    /* card back logo styles */
    img.cardLogo {
        margin: 0 auto;
        position: initial !important;
        width: 60% !important;
        object-fit: contain !important;
        aspect-ratio: 16/9 !important;
    }

    /* card title and statistics styles */
    .cardTitle,
    .cardStats {
        transform: translateX(0);
        width: 62%;
        border: none;
    }

    .cardTitle {
        height: 100%;
        ;
    }

    .cardTitle p {
        height: 100%;
        width: auto;
        margin: 0 auto;
    }

    .cardTitle p,
    .cardStats ul {
        padding: 15px !important;
        opacity: 1 !important;
    }

    .cardTitle p {
        font-size: 18px;
        white-space: nowrap;
    }

    .cardStats ul {
        font-size: 16px;
    }

    .playerHand .cardTitle p,
    .playerHand .cardStats ul {
        text-align: left;
    }

    .computerHand .cardTitle p,
    .computerHand .cardStats ul {
        text-align: right;
    }

    .cardStats ul {
        background-color: initial !important;
        padding: 18px !important;
    }

    .playerCard .cardTitle,
    .playerCard .cardStats {
        left: 40%;
    }

    .computerCard .cardTitle,
    .computerCard .cardStats {
        left: -5%;
    }

}

/* small screens */
@media screen and (max-width: 768px) {

    /* player card and computer card styles */
    .playerCard {
        order: 3;
    }

    .playerCard,
    .computerCard {
        width: 100%;
    }

    /* card title styles */
    .cardTitle p {
        font-size: 2.8vw;
    }

    /* card statistics styles */
    .cardStats ul {
        font-size: 2.6vw;
    }

}