/* Game component styles */
.game {
    position: relative;
    display: flex;
    width: 100%;
    justify-content: center;
    animation: fadeIn 0.5s;
}

/* game text styles (versus, you won, you tie, you lose) */
.gameText {
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
    width: 25%;
}

.gameText h4 {
    font-family: 'Fugaz One', sans-serif;
    font-size: 45px;
    text-transform: uppercase;
    margin: 0 auto;
    padding-left: 25px;
}

/* game area styles */
.gameArea {
    align-self: flex-end;
    height: 80%;
    width: 25%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 0 40px;
    padding-bottom: 50px;
    padding-left: 65px;
}

.gameArea p {
    margin: 10px 0px;
}

.gameArea button {
    margin: 10px 0px;
}

.gameArea form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.gameArea form label,
.gameArea form select,
.gameArea form button {
    margin: 10px 0;
}

.gameArea form select {
    width: 100%;
    padding: 10px 10px;
    font-size: 17px;
    border: solid #c1121f 3px;
    border-radius: 10px;
    text-transform: uppercase;
}

.gameArea form select:hover {
    cursor: pointer;
}

/* pot styles */
.pot {
    text-transform: uppercase;
    color: #fff;
    background-color: #c1121ed6;
    letter-spacing: 0.1em;
    width: 90%;
    margin: 0 auto;
    padding: 10px;
    border: solid #000 3px;
    border-radius: 10px;
    order: -1;
}

/* game over screen styles */
.gameOver {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 30px 0px;
    width: 500px;
}

.gameOver h3 {
    font-family: 'Fugaz One', sans-serif;
    font-size: 30px;
    margin: 15px;
}

.gameOver h4 {
    font-size: 25px;
    margin: 15px;
}

.gameOver ol {
    background-color: rgba(255, 255, 255, 0.5);
    border: solid #c1121f 3px;
    border-radius: 10px;
    padding: 20px 0px;
    margin: 20px 0px;
    padding-left: 60px;
    overflow: hidden;
}

.gameOver ol li {
    text-transform: uppercase;
    text-align: left;
    font-size: 25px;
}

.gameOver button {
    margin: 20px 0px;
}

.gameArea form button {
    width: 70%;
}

/* player and computer hand styles */
.playerHand,
.computerHand {
    width: 25%;
    animation: fadeIn 0.5s;
}

/* card stack styles */
.stackCard {
    width: 25%;
    margin-top: -37%;
    margin-left: 1%;
    aspect-ratio: 3/4.5;
    background-color: #7e7e7e;
    border: solid #000 4px;
    border-radius: 10px;
    position: absolute;
    z-index: 3;
    box-shadow: rgba(0, 0, 0, 0.5) 4px 4px 4px;
}

.stackCard2 {
    margin-top: -36%;
    margin-left: 2%;
    z-index: 0;
}

/* deck styles */
.deck {
    margin-top: 35px;
}

/* medium sized screens */
@media screen and (max-width: 1200px) {

    /* game styles */
    .game {
        position: relative;
        flex-flow: row wrap;
        gap: 5%;
        width: 100%;
        z-index: 10;
    }

    /* game text styles (versus, you won, you tie, you lose)  */
    .gameText {
        position: initial;
        order: 2;
        width: 100%;
        transform: translateX(0%);
        padding-top: 0;
        margin: 30px 0px 0px 0px;
    }

    /* game area styles */
    .gameArea {
        order: 4;
        width: 100%;
        padding: 40px;
    }

    /* player and computer hand styles */
    .playerHand {
        order: 1;
        width: 90%;
        display: flex;
        flex-flow: row wrap;
    }

    .computerHand {
        order: 3;
        width: 90%;
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-end;
    }

    .playerHand h3,
    .computerHand h3 {
        width: 100%;
    }

    .playerHand h3 {
        text-align: left;
    }

    .computerHand h3 {
        text-align: right;
    }

    .playerHand .deck {
        order: 3;
        align-self: center;
    }

    .computerHand .deck {
        order: 3;
        align-self: center;
    }

    /* card stack styles */
    .stackCard {
        display: none;
    }

    /* deck styles */
    .deck {
        color: #000;
        width: 25%;
        padding: 7% 0%;
        margin: 0;
        margin-bottom: 15px;
        font-size: 25px;
        background-color: #d5d5d5;
        border: solid #000 4px;
        position: relative;
    }

    .deckCard {
        z-index: -1;
        height: 100%;
        width: 105%;
        position: absolute;
        top: 4%;
        left: 0%;
        background-color: #7e7e7e;
        border: solid #000 4px;
    }

    .playerHand .deck,
    .playerHand .deckCard {
        border-left: none;
        border-radius: 0px 10px 10px 0px;
        box-shadow: rgba(0, 0, 0, 0.5) 2px 2px 2px;
    }

    .computerHand .deck,
    .computerHand .deckCard {
        border-right: none;
        border-radius: 10px 0px 0px 10px;
        box-shadow: rgba(0, 0, 0, 0.5) -2px 2px 2px;
    }

    .playerHand .deckCard1 {
        width: 110%;
        top: 8%;
    }

    .computerHand .deckCard {
        left: -7%;
    }

    .computerHand .deckCard1 {
        width: 110%;
        left: -12%;
        top: 8%;
    }
}

/* small screens */
@media screen and (max-width: 768px) {


    /* game styles */
    .game {
        flex-direction: column;
    }

    .gameArea,
    .playerHand,
    .computerHand {
        width: 80%;
        margin: 0 auto;
    }

    /* game text styles (versus, you won, you tie, you lose) */
    .gameText {
        width: 100%;
        order: 2;
        padding: 0;
        margin-top: 20px !important;
    }

    /* game area styles */
    .gameArea {
        flex-flow: row wrap;
        margin: 0 auto;
        padding: 20px;
    }

    .gameArea .pot {
        order: -1;
    }

    .gameText h4 {
        font-size: 10vw;
        line-height: 1;
        padding: 0;
    }

    .gameArea p {
        width: 100%;
        margin: 3px auto;
    }

    .gameArea button {
        width: 100%;
        margin: 10px auto;
    }

    .gameArea form {
        flex-flow: row wrap;
        width: 100%;
    }

    .gameArea form label {
        display: none;
    }

    .gameArea form select {
        width: 100%;
        font-size: 3.5vw;
        background-size: 3.5vw;
        padding: 10px;
        margin-bottom: 0;
    }

    .gameArea form button {
        width: 100%;
    }

    /* player and computer hand styles */
    .playerHand {
        margin-left: 6vw !important;
    }

    .computerHand {
        order: 3;
        margin-right: 6vw !important;
    }

    .playerHand,
    .computerHand {
        display: flex;
        flex-flow: row wrap;
        margin-bottom: 4vw;
        margin-top: 4vw;
    }

    .playerHand .deck,
    .computerHand .deck {
        order: 2;
    }

    .playerHand h3,
    .computerHand h3 {
        order: 1;
        width: 70%;
        text-align: left;
        font-size: 3vw;
        margin: 10px 0px;
    }

    .playerHand p,
    .computerHand p {
        order: 2;
        text-align: center;
        font-size: 3vw;
        margin: 0;
    }

    .playerHand .deck p,
    .computerHand .deck p {
        text-align: right;
    }

    .playerHand div.playerCard,
    .computerHand div.computerCard {
        order: 3;
    }

    /* card stack styles */
    .stackCard {
        display: initial;
        width: 78%;
        margin-top: 12%;
        aspect-ratio: 5/3;
    }

    .stackCard2 {
        margin-top: 14%;
        z-index: -2;
    }

    .playerHand .stackCard {
        margin-left: 2%;
        box-shadow: rgba(0, 0, 0, 0.5) 3px 3px 3px;
    }

    .playerHand .stackCard2 {
        margin-left: 4%;
    }

    .computerHand .stackCard {
        margin-right: 2%;
        box-shadow: rgba(0, 0, 0, 0.5) -3px 3px 3px;
    }

    .computerHand .stackCard2 {
        margin-right: 4%;
    }

    /* deck styles */
    .deck {
        padding: 0;
        background: none;
        border: none;
        margin: 10px 0px !important;
        width: 30% !important;
        box-shadow: none !important;
    }

    .deckCard {
        display: none;
    }

    /* game over screen styles */
    .gameOver {
        width: 80%;
        margin: 0 auto;
        padding: 0;
    }

    .gameOver h3 {
        font-size: 8vw;
        margin-bottom: 0;
    }

    .gameOver h4 {
        font-size: 6vw;
        margin-top: 0;
    }

    .gameOver p {
        font-size: 4vw;
    }

    .gameOver ol li {
        font-size: 4.5vw;
    }

}