:root {
  color: #28292E;
  font-family: 'Lexend Exa', sans-serif;
  background-color: #28292E;
  background: repeating-linear-gradient(135deg, #78848e7b 0, #78848e7b 5%, #28292e15 0, #28292e25 50%) 0 / 12px 12px;
}

/* default body styles */
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 17px;
}

/* default code styles */
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* small screens */
@media screen and (max-width: 768px) {

  /* default body styles */
  body {
    font-size: 3.5vw;
  }

}