/* Main component styles */
main {
    background-color: #255f8573;
    border-top: solid #28292E 5px;
    border-bottom: solid #28292E 5px;
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
    padding: 20px 0px;
    align-items: center;
    justify-content: center;
}

/* instructions styles */
.instructions {
    max-width: 100%;
    margin: 0 auto;
    padding-left: 12%;
    padding-right: 12%;
    padding-top: 15px;
    padding-bottom: 30px;
}

.instructions p {
    padding: 0;
    margin: 0;
    margin-top: 0px;
    margin-bottom: 20px;
    letter-spacing: 0.04em;
}

.instructions h3 {
    text-transform: uppercase;
    font-size: 16px;
}

.instructions button {
    padding-left: 40px;
    padding-right: 40px;
}

.instructionText {
    max-height: 0px;
    opacity: 0;
    transition: max-height 0.75s, opacity 1s;
    overflow: hidden;
}

/* start screen styles */
.startScreen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 20px;
    padding-top: 0px;
    width: 400px;
    margin: 0 auto;
}

.startScreen label,
.startScreen input,
.startScreen button {
    margin: 10px auto;
}

.startScreen label {
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 0.05em;
}

.startScreen input {
    font-family: 'Lexend Exa', sans-serif;
    font-size: 16px;
    text-align: center;
    background-color: #e3e9eead;
    width: 90%;
    padding: 10px;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 0.05em;
    border: solid #28292E 3px;
    border-radius: 10px;
    transition: background-color 0.5s, box-shadow 0.5s;
    text-transform: uppercase;
}

.startScreen input:active,
.startScreen input:hover {
    background-color: #E3E9EE;
    box-shadow: #28292e83 3px 3px 3px,
    #28292e83 -3px 3px 3px;
}

.startScreen button {
    width: 60%;
}

/* small screens */
@media screen and (max-width: 768px) {

    /* Main component styles */
    main {
        height: 100%;
    }

    /* instruction styles */
    .instructions {
        padding-left: 30px;
        padding-right: 30px;
    }

    /* start screen styles */
    .startScreen {
        padding-bottom: 50px;
    }

    .startScreen input {
        max-width: 70%;
    }

    .startScreen button {
        width: 58%;
    }

    .startScreen input:active,
    .startScreen input:hover {
        background-color: #e3e9eead;
        box-shadow: none;
    }

}